body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #031e4f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
label{
  font-size: 22px;
}
.quiz-box h1{
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #007bff;
}

.quiz-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.option {
  display: flex;
  align-items: center; 
  margin-bottom: 8px;
}
.option input {
  margin-right: 8px;     
  width: 20px;
  height: 20px;
  border-radius: 50%;   
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid black;
  cursor: pointer;
}
.option input:checked {
  background-color: #007bff;  
  border: 1px solid #007bff;
}

#next-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}
#next-btn:hover { background-color: #0056b3; }

.timercontainer {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
#timer{
  color: red;
  font-size: 20px;
}
#score{
  color: rgb(1, 160, 1);
  font-size: 20px;
}
.popup {
  display: none;              
  position: fixed;
  top: 0;                      
  left: 0;
  width: 100%;                 
  background: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);

  /* animation for slide down */
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

.popup.show {
  display: block;
  transform: translateY(0);    /* slide down into view */
}

#restart{
  display:none;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}